<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                         http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/mvc
                         http://www.springframework.org/schema/mvc/spring-mvc.xsd
                          http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd
                           http://code.alibabatech.com/schema/dubbo
                            http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <!--扫描包，@controller @service使配置生效-->
    <context:component-scan base-package="cn.testutils.controller"/>
    <context:component-scan base-package="cn.testutils.service"/>
    <!--mvc注解驱动，自动配置 处理器映射器、处理器适配器（不用配置bean）-->
    <mvc:annotation-driven/>
    <!--开启自动注入注解方式1-->
    <context:annotation-config/>
    <!--开启主动注入注解方式2-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->
    <!--开启@Required annotation-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!--上传图片实现类-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"-->
    <!--p:maxUploadSize="5242880" p:maxInMemorySize="40960"-->
    <!--/>-->
    <!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
    <!--   <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
           <property name="messageConverters">
               <list>
                   <ref bean="mappingJacksonHttpMessageConverter" /> &lt;!&ndash; JSON转换器 &ndash;&gt;
               </list>
           </property>
       </bean>-->
    <!--AOP配置--><!-- 激活自动代理功能 -->
    <aop:aspectj-autoproxy expose-proxy="true"/>
    <!--<bean id="logAopAction" class="cn.testutils.aop.LogAopAction"></bean>-->

    <!--跳转前后 视图模式配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <!--配置前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--配置后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- 引用dubbo服务 -->
    <!--<dubbo:application name="shop-portal-web"/>-->
    <!--<dubbo:registry protocol="zookeeper" address="119.29.203.78:2181"/>-->
    <!--<dubbo:reference interface="cn.serviceInterface.ItemService" id="itemService"/>-->
    <!--<dubbo:reference interface="cn.serviceInterface.ItemCatService" id="itemCatService"/>-->
    <!--<dubbo:reference interface="cn.serviceInterface.ContentService" id="contentService"/>-->


    <!-- 资源映射 对静态资源放行  -->
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>


    <!--&lt;!&ndash; 配置SOlrJ &ndash;&gt;-->
    <!--<bean id="solrServer" class="org.apache.solr.client.solrj.cn.testutils.service.impl.HttpSolrServer">-->
    <!--<constructor-arg value="http://localhost:8080/solr/collection1"/>-->
    <!--</bean>-->

    <bean id="Person" class="cn.testutils.bean.Person">
        <property name="name" value="This is Name1 "/>
        <property name="sex" value="This is Sex1"/>
    </bean>


</beans>